@model AcroGARC.ViewModels.StudentAddForm
@{
    ViewBag.Title = "StudentForm";
}

<h2>Add Student</h2>

@using (Html.BeginForm("Add","Student"))
{

    <p class="alert alert-info">All Fields are <strong>Required</strong> </p>
    //Preventing it from CSRF attack
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.classStructureId)
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", autofocus = "autofocus" })
    </div>

    <button type="submit" name="btnSave" class="btn btn-primary">Save</button>
}
