@model IEnumerable<AcroGARC.Models.Subject>
@{
    ViewBag.Title = "faculty";
}

<table class="class-dashboard">
@foreach (var subject in Model)
{   <tr>
        <td>
            <i class="glyphicon glyphicon-book" style="font-size:60px"></i>
        </td>
        <td>
            <p>@subject.Name</p>
        </td>
    </tr>
}
</table>
